html {
    font-family: "League Spartan";
}
html a, html a:visited {
    color: white;
    text-decoration: none;
}
html a:hover {
    color: white;
    font-weight: bolder;
}
body{
    margin-top: 0vw;
    margin-left: 0vw;
}
#last {
    margin-top: 0vw;
    margin-left: 0vw;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #c3b1e1;
}
#full {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 90vh;
    width: 80vw;
    display: inline-block;
    text-align: center;
    background-color: #aec6cf;
    color: black;
    border-radius: 1vw;
    margin-bottom: 8vh;
    margin-top: 8vh;
    box-shadow: 0px 0px 7px #966fd6;
}
#full #home {
    float: left;
    margin: 1.5vw;
}
#full #home:hover {
    filter: invert(1);
}
#full #lt-head {
    margin-top: 5vh;
    font-size: 2vw;
    display: block;
    margin: 2%;
    margin-bottom: 0;
}
#full #lt-rt-container {
    display: flex;
    flex-direction: row;
}
#full #lt-rt-container #lt {
    width: 78vw;
    float: center;
    padding: 0vh;
    margin: 2vh;
}
#full #lt-rt-container #lt #contain-form {
    width: 30vw;
    margin-left: 19.5vw;
}
#full #lt-rt-container #lt #contain-form #form-group {
    padding-top: 5vh;
    width: 100%;
}
#full #lt-rt-container #lt #contain-form #form-group #name {
    width: 100%;
    height: 3vh;
}
#full #lt-rt-container #lt #contain-form #form-group2 {
    padding-top: 5vh;
}
#full #lt-rt-container #lt #contain-form #form-group2 #email {
    width: 100%;
    height: 3vh;
}
#full #lt-rt-container #lt #contain-form #form-group3 {
    padding-top: 5vh;
}
#full #lt-rt-container #lt #contain-form #form-group3 #msg {
    width: 100%;
    height: 40vh;
}
#full #lt-rt-container #lt #contain-form #submit {
    margin-top: 3vh;
    width: 5vw;
    height: 4vh;
    border-radius: 1vw;
    float: right;
    background: #e8f4ea;
}
#full #lt-rt-container #lt #contain-form #submit:hover {
    background: #c8e1cc;
}
#full #lt-rt-container #rt {
    margin-right: 10vw;
    font-size: 1.5vw;
}
#full #lt-rt-container #rt #contact-list #list-item1 {
    margin-top: 10vh;
}
#full #lt-rt-container #rt #contact-list #list-item2 {
    margin-top: 10vh;
}
#full #lt-rt-container #rt #contact-list #list-item3 {
    margin-top: 10vh;
}
